<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Webpage layout</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <a href=""><img class="site_logo" src="img/BBC-Logo.png" alt=""></a>
    <nav id="main_menu">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>News</li>
        <li>World</li>
      </ul>
    </nav>
  </header>

  <section>
    <div>
      <h2>The sound maps that predict poachers' movements</h2>
      <img src="img/p0h36w2c.webp" alt="">
      <p>In the Upper Paraná Atlantic Forest lies the world-renowned Iguazu Falls. On one side of the towering cascades
        is the
        Iguazú National Park of Argentina, on the other is the Iguaçu National Park of Brazil. Greened by over 2,000
        plant
        species, the landscape is home to an array of creatures, including the charismatic jaguar. And to the
        million-plus
        tourists who visit each year, the region may appear to be part of a vast expanse of thriving biodiversity.</p>
    </div>
    <aside>
      <ul>
        <li><img src="img/p0h2thqm.jpg" alt="">The neglected clean heat we flush down the drains</li>
        <li><img src="img/p0h2thqm.jpg" alt="">The neglected clean heat we flush down the drains</li>
        <li><img src="img/p0h2thqm.jpg" alt="">The neglected clean heat we flush down the drains</li>
      </ul>
    </aside>
  </section>

  <footer id="footer">
    <h3>Explore The BBC</h3>
    <div>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>News </li>
        <li>World</li>
      </ul>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>News </li>
        <li>World</li>
      </ul>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>News </li>
        <li>World</li>
      </ul>
    </div>
  </footer>

</body>

</html>